* {
    margin: 0;
    padding: 0;
}

*:focus {
    outline: none;
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}
@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

body {
    background-color: #FCFDFD;
    color: #343434;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

.light-background {
    background-color: #E2E9E9;
}

.dark-background {
    background-color: #576F72;
}

.handwriting {
    font-family: 'Dancing Script', cursive;
}

a, .red {
    color: #BA918D;
}

.gold {
    color: #9A8A67;
}

.green {
    color: #576F72;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

nav img {
    height: 30px;
}

nav a {
    color: #E2E9E9;
    text-decoration: none;
}

nav p {
    color: #E2E9E9;
    font-weight: bold;
    display: flex;
    align-items: center;
    font-size: 34px;
    font-family: 'Dancing Script', cursive;
}

nav p .fa-bolt {
    font-size: 24px;
    margin-right: 10px;
}

.container {
    width: 1200px;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.padding {
    padding: 20px;
}

.little-padding {
    padding: 10px;
}

.padding-vertical {
    padding: 20px 0;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 10px;
    margin-right: 10px;
}

nav ul li a {
    color: #E2E9E9;
    text-decoration: none;
}

.jumbotron {
    background-color: #E2E9E9;
}

.text-center {
    text-align: center;
}

.italic {
    font-style: italic;
}

.jumbotron h1 {
    margin-bottom: 30px;
    font-size: 50px;
    color: #576F72;
}

.jumbotron p {
    font-size: 24px;
}

.fa-bolt {
    color: #BAAC8D;
}

.flex-row {
    display: flex;
}

.row-align-center {
    display: flex;
    align-items: center;
}

.between {
    justify-content: space-between;
}

.text-underline {
    text-decoration: underline;
}

input {
    font-size: 20px;
    padding: 10px;
    color: #343434;
    border: 1px solid #576F72;
}

.bordered {
    border: 1px solid #576F72;
}

.bordered-bottom {
    border-bottom: 1px solid #576F72;
}

.radius {
    border-radius: 5px;
}

.radius-left {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.radius-right {
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.no-border-left {
    border-left: 0 !important;
}

.w-100 {
    width: 100%;
}

.validation-btn {
    background-color: #576F72;
    font-size: 20px;
    color: #FCFDFD;
    border: 1px solid #576F72;
    padding: 10px;
    cursor: pointer;
}

.mt-3 {
    margin-top: 30px;
}

.mt-1 {
    margin-top: 10px;
}

.mb-3 {
    margin-bottom: 30px;
}

.mr-1 {
    margin-right: 10px;
}

.ml-3 {
    margin-left: 30px;
}

.fw-bold {
    font-weight: bold;
}

.code-sample {
    overflow-x: scroll;
    font-size: 16px;
    max-height: 400px;
    overflow-y: scroll;
}

pre .string { color: #3F5B5E; }
pre .number { color: #9A6A67; }
pre .boolean { color: #7E8F60; }
pre .null { color: #343434; }
pre .key { color: #9A8A67; }

.doc-badge {
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #BA918D;
    color: #FCFDFD;
    width: 50px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mini {
    font-size: 16px !important;
}

footer {
    background-color: #B7CBCB;
    font-size: 18px;
    font-weight: bold;
}

footer a {
    color: #576F72;
    text-decoration: none;
}

footer i {
    font-size: 24px;
    margin-left: 10px;
    margin-right: 10px;
}

@media (max-width: 1250px) {
    .container {
        width: 1000px;
    }
}

@media (max-width: 1050px) {
    .container {
        width: 800px;
    }
}

@media (max-width: 850px) {
    .container {
        width: 600px;
    }
}

@media (max-width: 650px) {
    .container {
        width: 95%;
    }
}