.characters {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 15px;
}

.character-item {
    background-color: #E2E9E9;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
}

.character-item .character-insight {
    padding: 15px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    opacity: 0;
    transition: opacity .5s;
}

.character-item .character-picture {
    border-radius: 5px;
    height: 300px;
    overflow: hidden;
}

.character-item .character-picture > div {
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    transition: all .5s;
}

.character-item:hover .character-picture div {
    transform: scale(1.2);
    filter: brightness(0.5);
}

.character-item:hover .character-insight {
    opacity: 1;
}

.character-item .character-name {
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 1.5em;
}

.row-data {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.badge {
    border-radius: 5px;
    padding: 5px;
    font-size: 0.8em;
    color: #ffffff;
}

.badge-Gryffindor {
    background-color: #9A6A67;
}

.badge-Slytherin {
    background-color: #7B8E5D;
}

.badge-Ravenclaw {
    background-color: #3F595F;
}

.badge-Hufflepuff {
    background-color: #9A7F65;
}

.badge-None {
    background-color: #333333;
}

input#searchbar {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
    border-radius: 5px;
}

button#see-more {
    padding: 10px;
    border: 0;
    border-radius: 5px;
    background-color: #baac8d;
    cursor: pointer;
    color: #ffffff;
    font-size: 1.2em;
    margin-top: 20px;
    margin-bottom: 20px;
    transition: background-color .5s;
}

button#see-more:hover {
    background-color: #9A8A66;
}

.centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1250px) {
    .characters {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 15px;
    }
}

@media (max-width: 850px) {
    .characters {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 15px;
    }
}