{% include 'script/include/code_sample_methods.html.twig' %}

<script>
    const code = document.getElementById('code-sample');
    search('characters?firstName=Harry', code)

    document.getElementById('search-btn').addEventListener('click', () => {
        if (document.getElementById('route-input').value !== '') {
            document.getElementById('code-sample').innerHTML = '<div style="width: 100%; height: 100%; display: flex; align-items: center; justify-content: center"><div class="lds-ring"><div></div><div></div><div></div><div></div></div></div>'
            search(document.getElementById('route-input').value, code)
        }
    })
</script>