{% extends 'base.html.twig' %}

{% block jumbotron %}
    <h1 class="padding handwriting">Documentation</h1>

    <p>The REST API on the Harry Potter universe.</p>
    <p class="mini mt-1 mb-3">I solemnly swear that I am up to no good.</p>
{% endblock %}

{% block body %}
    <div class="padding-vertical bordered-bottom">
        <h2 class="padding-vertical">
            Characters
        </h2>

        <p class="doc-description italic">
            These routes will allow you to retrieve the main information of the Characters from the Harry Potter films and books.
        </p>
    </div>

    <h3 class="mt-3">All the characters</h3>

    <div class="doc-endpoint padding-vertical">
        <div class="row-align-center">
            <div class="doc-badge mr-1">GET</div> https://marauderapi.fr/api/characters
        </div>

        <div class="light-background padding radius mt-3 code-sample">
            <pre class="line-numbers"><code class="language-json doc-sample" id="doc-characters"></code></pre>
        </div>
    </div>

    <h3 class="mt-3">Character by ID</h3>

    <div class="doc-endpoint padding-vertical">
        <div class="row-align-center">
            <div class="doc-badge mr-1">GET</div> https://marauderapi.fr/api/characters/5
        </div>

        <div class="light-background padding radius mt-3 code-sample">
            <pre class="line-numbers"><code class="language-json doc-sample" id="doc-characters/5"></code></pre>
        </div>
    </div>

    <h3 class="mt-3">Characters by filters</h3>

    <div class="doc-description italic mt-3 bordered padding radius">
        <i class="fas fa-question-circle"></i> There are different filters that can be <span class="fw-bold green">combined</span> to refine your searches:
        <ul class="mt-1 ml-3">
            <li><span class="fw-bold gold">firstName</span>: Filter by first name, partial search.</li>
            <li><span class="fw-bold gold">lastName</span>: Filter by last name, partial search.</li>
            <li>
                <span class="fw-bold gold">genre</span>: Filter by genre, precise search :
                <ul class="ml-3">
                    <li>male</li>
                    <li>female</li>
                </ul>
            </li>
            <li>
                <span class="fw-bold gold">blood</span>: Filter by blood, precise search :
                <ul class="ml-3">
                    <li>muggleborn</li>
                    <li>half-blood</li>
                    <li>pure-blood</li>
                    <li>squib</li>
                </ul>
            </li>
            <li>
                <span class="fw-bold gold">house</span>: Filter by house, precise search :
                <ul class="ml-3">
                    <li>Gryffindor</li>
                    <li>Slytherin</li>
                    <li>Ravenclaw</li>
                    <li>Hufflepuff</li>
                </ul>
            </li>
        </ul>
    </div>

    <div class="doc-endpoint padding-vertical">
        <div class="row-align-center">
            <div class="doc-badge mr-1">GET</div> https://marauderapi.fr/api/characters?firstName=H
        </div>

        <div class="light-background padding radius mt-3 code-sample">
            <pre class="line-numbers"><code class="language-json doc-sample" id="doc-characters?firstName=H"></code></pre>
        </div>
    </div>

    <div class="doc-endpoint padding-vertical">
        <div class="row-align-center">
            <div class="doc-badge mr-1">GET</div> https://marauderapi.fr/api/characters?firstName=H&blood=muggleborn
        </div>

        <div class="light-background padding radius mt-3 code-sample">
            <pre class="line-numbers"><code class="language-json doc-sample" id="doc-characters?firstName=H&blood=muggleborn"></code></pre>
        </div>
    </div>


    <div class="padding-vertical bordered-bottom">
        <h2 class="padding-vertical">
            Spells
        </h2>

        <p class="doc-description italic">
            These routes will allow you to retrieve the main information of the Spells from the Harry Potter films and books.
        </p>
    </div>

    <h3 class="mt-3">All the spells</h3>

    <div class="doc-endpoint padding-vertical">
        <div class="row-align-center">
            <div class="doc-badge mr-1">GET</div> https://marauderapi.fr/api/spells
        </div>

        <div class="light-background padding radius mt-3 code-sample">
            <pre class="line-numbers"><code class="language-json doc-sample" id="doc-spells"></code></pre>
        </div>
    </div>

    <h3 class="mt-3">Spell by ID</h3>

    <div class="doc-endpoint padding-vertical">
        <div class="row-align-center">
            <div class="doc-badge mr-1">GET</div> https://marauderapi.fr/api/spells/3
        </div>

        <div class="light-background padding radius mt-3 code-sample">
            <pre class="line-numbers"><code class="language-json doc-sample" id="doc-spells/3"></code></pre>
        </div>
    </div>

    <h3 class="mt-3">Spells by filters</h3>

    <div class="doc-description italic mt-3 bordered padding radius">
        <ul class="ml-3">
            <li><span class="fw-bold gold">name</span>: Filter by name, partial search.</li>
        </ul>
    </div>

    <div class="doc-endpoint padding-vertical">
        <div class="row-align-center">
            <div class="doc-badge mr-1">GET</div> https://marauderapi.fr/api/spells?name=Tar
        </div>

        <div class="light-background padding radius mt-3 code-sample">
            <pre class="line-numbers"><code class="language-json doc-sample" id="doc-spells?name=Tar"></code></pre>
        </div>
    </div>

    <div class="padding-vertical bordered-bottom">
        <h2 class="padding-vertical">
            Pagination
        </h2>

        <p class="doc-description italic">
            A limit of 20 items sent has been implemented for each API call to ensure better performance.
        </p>
    </div>

    <h3 class="mt-3">Character pagination</h3>

    <div class="doc-endpoint padding-vertical">
        <div class="row-align-center">
            <div class="doc-badge mr-1">GET</div> https://marauderapi.fr/api/characters?page=2
        </div>

        <div class="light-background padding radius mt-3 code-sample">
            <pre class="line-numbers"><code class="language-json doc-sample" id="doc-characters?page=2"></code></pre>
        </div>
    </div>

    <h3 class="mt-3">Spell pagination</h3>

    <div class="doc-endpoint padding-vertical">
        <div class="row-align-center">
            <div class="doc-badge mr-1">GET</div> https://marauderapi.fr/api/spells?page=2
        </div>

        <div class="light-background padding radius mt-3 code-sample">
            <pre class="line-numbers"><code class="language-json doc-sample" id="doc-spells?page=2"></code></pre>
        </div>
    </div>

    <h3 class="mt-3">Pagination and filters</h3>

    <div class="doc-endpoint padding-vertical">
        <div class="row-align-center">
            <div class="doc-badge mr-1">GET</div> https://marauderapi.fr/api/characters?firstName=ar&page=2
        </div>

        <div class="light-background padding radius mt-3 code-sample">
            <pre class="line-numbers"><code class="language-json doc-sample" id="doc-characters?firstName=ar&page=2"></code></pre>
        </div>
    </div>
{% endblock %}

{% block js %}
    {% include 'script/code_sample_colorization_doc.html.twig' %}
{% endblock %}