{% extends 'base.html.twig' %}

{% block jumbotron %}
    <h1 class="padding handwriting">Carte du Marauder</h1>

    <p>L'API REST sur le monde de Harry Potter.</p>

    <div class="padding"><a href="">Voir la documentation</a></div>
{% endblock %}

{% block body %}
    <h2 class="text-center padding">
        Essayez-la maintenant !
    </h2>

    <div class="flex-row">
        <div class="light-background little-padding text-underline bordered">
            https://marauderapi.fr/api/
        </div>
        <input type="text" name="action" class="no-border-left w-100" value="characters?firstName=Harry" id="route-input">
        <button class="validation-btn" id="search-btn">Valider</button>
    </div>

    <div class="light-background padding mt-3 code-sample">
        <pre class="line-numbers"><code class="language-json" id="code-sample"></code></pre>
    </div>
{% endblock %}

{% block js %}
    {% include 'script/code_sample_colorization.html.twig' %}
{% endblock %}