{% extends 'base.html.twig' %}

{% block jumbotron %}
    <h1 class="padding handwriting">Maraudeur's Map</h1>

    <p>The REST API on the Harry Potter universe.</p>
    <p class="mini mt-1">I solemnly swear that I am up to no good.</p>

    <div class="padding"><a href="{{ path('index_doc') }}">See the documentation</a></div>
{% endblock %}

{% block body %}
    <h2 class="text-center padding">
        Try it now !
    </h2>

    <div class="flex-row">
        <div class="light-background little-padding text-underline bordered radius-left">
            https://marauderapi.fr/api/
        </div>
        <input type="text" name="action" class="no-border-left w-100" value="characters?firstName=Harry" id="route-input">
        <button class="validation-btn radius-right" id="search-btn">Validate</button>
    </div>

    <div class="light-background radius padding mt-3 code-sample">
        <pre class="line-numbers"><code class="language-json" id="code-sample"></code></pre>
    </div>
{% endblock %}

{% block js %}
    {% include 'script/code_sample_colorization.html.twig' %}
{% endblock %}